@model Presentation_Layer.ViewModels.CreateUserViewModel
@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" asp-controller="User">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="custom-control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Password</label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Year" class="control-label">Birth Year</label>
        <input type="number" asp-for="Year" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-default"/>
    </div>
</form>

