@using Representation_Layer_MVC_.Enums;

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4" style=border-color>Welcome to Hotel des Arts</h1>
    </br>
    </br>
    </br>
    </br>
    <div class="roomButtons">
        <p><h2><b>Rooms</b></h2></p>
        <button class="btn" id="1"><b>Standard Single</b></button>
        <button class="btn" id="2"><b>Standard Double</b></button>
        <button class="btn" id="3"><b>Standard Twin</b></button>
        <button class="btn" id="4"><b>Deluxe</b></button>
        <button class="btn" id="5"><b>Luxe</b></button>
    </div>
</div>

